.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:x-large;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.regdiv{
  padding-top: 50px;
  background-color: #61dafb;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.register{
  padding:100px 550px ;

}

.register,input{
  padding-top: 10px;
  width: 300px;
  border-radius: 50px;

}
.registerbtndiv{
  padding-top: 50px;
  align-self: center;
}
.registerbtn{
  padding:20px;
  background-color: black;
  color: aqua;

}
.loginbtn{
  padding:20px;
  background-color: black;
  color: aqua;
}
.parent
{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
}
.box{
    padding: 60px;
    padding-left: 30px;
    margin: 10px;
    width: 400px;
    display: flex;
    justify-self:flex-start;
    background-color: rgb(17, 14, 13);
    color: rgb(22, 178, 206);
    font-size:larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 50px;
   
}
.box,p{
  padding-left: 50px;
}
.viewbook
{
  padding: 100px;
  height: 100%;
}
.editprofile{
  background-color: #61dafb;
  align-items: center;
  justify-self:center;
  justify-items: center;
  padding: 70px 400px;

}
.detailtb
{
  background-color: rgb(0, 0, 0);
  color: #f8f8f8;
  font-size: larger;
  padding: 40px 70px ;
  margin-left: -75px;
   width: 500px;
  border-radius: 30px;
  
}
  .detailtedit
{
  background-color: rgb(0, 0, 0);
  color: #f8f8f8;
  font-size: larger;
  padding:  100px ;
  margin-left: 20px;
  width: 600px;
  border-radius: 30px;
  

}
.detailtedit,tr{
padding: 40px 50px ;
}
.editbtn{
  padding-top: 50px ;
  justify-items: center;

}
.titleline{
  color: rgb(2, 1, 1);
  display: flex;
  margin-left: 630px;
  font-weight: bold;
  font-size: 50px;
}
.titleline1{
  color: rgb(2, 1, 1);
  margin-left: 700px;
  font-weight: bold;
  font-size: 50px;
}
.createtitle{
  color: rgb(2, 1, 1);
  display: flex;
  margin-left: 500px;
  font-weight: bold;
  font-size: 50px;
}
.singlebooktitle{
  color: rgb(2, 1, 1);
  display: flex;
  margin-left: 500px;
  font-weight: bold;
  font-size: 50px;

}
.profiletitle{
  color: rgb(2, 1, 1);
  display: flex;
  margin-left: 500px;
  font-weight: bold;
  font-size: 50px;

}
.profileid{
  color: rgb(2, 1, 1);
  display: flex;
  margin-left: 500px;
  font-weight: bold;
  font-size: 50px;
}
.bookviewname{
  color: snow;
}
.listdetail
{
  color: rgb(0, 0, 0);
  font-family:monospace;
  font-size:xx-large;
  font-weight: bold;

}
.titletop
{
  justify-content: center;
  text-align: center;

}
.signin{
  padding:20px 50px;
  background-color: black;
  color: aqua;
  border-radius: 50px;

}
.signinbtn{
  padding: 20px;
  justify-content: center;
  text-align: center;
  
}
.newregbtn{
  padding:20px 50px;
  background-color: rgb(4, 38, 44);
  color: #fff;
  border-radius: 50px;

}
.regbtnposition
{
  text-align: center;

}